[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
python-qpid-proton = "*"
opentracing = "*"
jaeger-client = "*"
futures = "*"

[requires]
python_version = "3.7"
